body{
	background-color:#D7E3F2;
}

#brand{
	width: 850px;
	float: top;
	float:left;
}

#logo{	
	float:left;
	width: 300px;
        top:0cm;
}

/*#logining{
	width: 300px;
        height: 50px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	float: right;
}*/


#navbar{
	position:relative;
	margin-right:0px;
}

div {
    overflow: hidden;
}

#info {
	width: 250px;
        height: 450px;
        background-color: lightgrey;
	float:left;
}

{}

#navbar
{
	display: inline;
	list-style: none;	
	background-color:#F0F0F0;
}

#navbar li a{
	float: left;
	width: 60px;
	height:60px;
}

#navbar li a {
	width: 100px;
	height:25px;
	padding:5px;
	display:block;
	color:#F0F0F0;;
	text-decoration: none;
	font-size:10pt;
	font-family:arial;
	line-height:25px;
	text-align:center;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	background: #003663;
}

#navbar li a:hover {
	border-top: 5px solid #004a80;
	border-bottom: 5px solid #004a80;
	background:#004a80;
	font-size:12pt;
	font-weight:bold;
}


#Fun_Facts {
	width: 195px;
        height: 450px;
        background-color: lightgrey;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	float:left;
}

#Fun_Facts h1{
	color: Blue;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size:30px;
	margin-left:27px;
	margin-top:0.5cm;
}

.menu-item h4 {
  font-size: 17px;
  font-weight: 500;
  padding: 7px 12px;
  margin-top: 0.001cm;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3366cc), color-stop(44%,#333399), color-stop(100%,#333366)); 
}

.menu-item h4 a{
	color: white;
}

.menu-item p {
    font-size: 13px;
    padding: 8px 20px;
    color: #0066CC;
}

.menu-item p {
  background: lightgrey;
  font-size: 13px;
  line-height: 20px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
   
  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}

.menu-item:hover p {
  height: 20px;
}

#info a,#Fun-Facts p{
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#004a80;

}

#info a{
  	width : 200px;
  	height : auto;
  	display : block;
  	text-decoration : none;
  	background-color : #004a80;
  	color : white;
  	font-weight : bold;
  	padding : 3px 10px; 
  	outline : 0;
	color:white;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    	font-size: 40px;
    	line-height: 65px;
	padding:14px;
  	border : 10px outset #909090;
}

#info a:hover, #info a:focus {
  	border : 10px outset #909090;
  	background-color : #000066;
  	color : #fff;
}

#info a:active {
  	border : 10px outset #C0C0C0;
  	background-color : #000066; /* the darker colors help create the effect */
  	color : white;
  	padding : 9px 18px 11px 16px; /* these new padding values are the mainstay or the effect to create natural movement */
}

#map {
	width: 795px;
        height: 450px;
        background-color: lightgrey;
	margin-top: 0.0002cm;
}

#map legend{
	color: Blue;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size:30px;
	margin-left:0.5cm;
	margin-top:-1cm;
}

#m{
	margin-top:0.001cm;
	width: 790px;
        height: 430px;
}