@font-face {
	font-family:"hn_1";
	src: local("hn_1"), url("Font/HelveticaNeueLTStd-Hv.otf" ) format("OpenType"); 
}

@font-face {
	font-family:"hn_2";
	src: local("hn_2"), url("Font/HelveticaNeueLTStd-Md.otf" ) format("OpenType"); 
}

@font-face {
	font-family:"hn_3";
	src: local("hn_3"), url("Font/HelveticaNeueLTStd-ThEx.otf" ) format("OpenType"); 
}

@font-face{
	font-family:"hn_4";
	src: local("hn_4"), url("Font/HelveticaNeueLTStd-UltLtEx.otf" ) format("OpenType"); 
}

body{
	background-color:#F0F0F0;
	margin: 0;
}
#download{
	margin-top: 50px;
	position: relative;
}

#wrapper{
	width: 1020px;
	margin: 0 auto;
}

#brand{
	width: 330px;
	float:left;
}

#Fun_Facts {
	width: 195px;
	height: 450px;
	float:left;
}

#mapfield {
	width: 465px;
	height: 450px;
	margin-top: 0.0002cm;
}

#logo{	
	float: left;
	width: 300px;
	top: 0cm;
}

#loginform{
	background-image: linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
	display: none;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	background-color: white;
	border: solid 1px black;
	position:fixed;
	left: 50%;
	top: 50%;
	background-color: white;
	z-index: 100;

	height: 110px;
	margin-top: -150px;

	width: 200px;
	margin-left: -100px;
}

#Registerform{
	background-image: linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
	display: none;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	background-color: white;
	border: solid 1px black;
	position:fixed;
	left: 50%;
	top: 50%;
	background-color: white;
	z-index: 100;

	height: 275px;
	margin-top: -200px;

	width: 200px;
	margin-left: -100px;
}

#border{
	float: right;
	margin-right: 50px;
	width: 580px;
	height: 40px;
	background-color:#F0F0F0;
	border-style:solid;
	border-width:5px;
	border-color:#27ADC3;
	margin-top:0.4cm;
}

#border ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

div {
	overflow: hidden;
}

#navbar
{
	display: inline;
	list-style: none;	
	background-color:#8392A6;
}

#navbar #about{
	border-bottom: 2px solid #A62000;
}

#navbar li a {
	float: left;
	width: 125px;
	padding:10px;
	color:#3D4A59;
	text-decoration: none;
	font-size:16pt;
	font-family:arial;
	line-height:17px;
	text-align:center;
	background: #F0F0F0;
	font-family: "hn_2";
}

#navbar li a:hover {
	background:#F0F0F0;
	font-size:16pt;
	font-weight:bold;
	border-bottom: 2px solid #EB6C4E;
}

#empty{
	width:1000px;
	height:20px
}

.button1, .button2{
	float:left;
	display: inline;
}

#infor{
	position:relative;
	left:50px;
}

.button1 h1, .button2 h1{
	text-align:center;
	font-weight: normal;
	font-size: 30px;
}

#sre, #sro{
	background-color:#27ADC3;
	width: 415px;
	height: 500px;
	font-family: "hn_2";
	color:#FFDC00;
	padding:10px;
}

#sre{
	float:left;
	color:#FFDC00;
	font-size:16px;
}

#sro img{
	width: 60px;
	height: 60px;
	float: left;
	margin: 5px;
}

#sro{
	margin-left:50px;
	position:relative;
	color:#FFDC00;
	font-size:20px;
}

#sro p{
	margin-top: 10px;
	margin-bottom: 0px;
}