
@font-face {
	font-family:"hn_1";
	src: local("hn_1"), url("Font/HelveticaNeueLTStd-Hv.otf" ) format("OpenType"); 
}
@font-face {
	font-family:"hn_2";
	src: local("hn_2"), url("Font/HelveticaNeueLTStd-Md.otf" ) format("OpenType"); 
 }

@font-face {
	font-family:"hn_3";
	src: local("hn_3"), url("Font/HelveticaNeueLTStd-ThEx.otf" ) format("OpenType"); 
}

@font-face{
	font-family:"hn_4";
	src: local("hn_4"), url("Font/HelveticaNeueLTStd-UltLtEx.otf" ) format("OpenType"); 
}
.exit { width: 20px; 
	height: 20px;  
	resize: both; 
	overflow: auto; 
	float: right;}
body{
	background-color:#F0F0F0;
}

#wrapper{
	width: 1020px;
	margin: 0 auto;
}

#brand{
	width: 330px;
	float:left;
}

#infor,#Fun_Facts{
	background-color: #27ADC3; 
	color:white;      
}

#infor {
	width: 250px;
	height: 469px;
	float:left;
}

#Fun_Facts {
	width: 195px;
	height: 450px;
	float:left;
}

#mapfield {
	background-color: #27ADC3;
	color: #FFDC00;
	width: 465px;
	height: 450px;
	margin-top: 0.0002cm;
}

#logo{	
	float:left;
	width: 300px;
	top:0cm;
}

#border{
	width: 630px;
	height: 40px;
	background-color:#F0F0F0;
	border-style:solid;
	border-width:5px;
	border-color:#27ADC3;
	margin-top:0.4cm;
		
}

#border ul{
	list-style: none;
	margin: 5px;
	padding: 0;
}

#myaccount{
	display: none;
}

#logout{
	display: none;
}

div {
	overflow: hidden;
}

#navbar
{
	display: inline;
	list-style: none;	
	background-color:#8392A6;
}

#navbar #home{
	border-bottom: 2px solid #A62000;
}

#navbar li a {
	float: left;
	width: 125px;
	height:10px;
	padding:10px;
	color:#3D4A59;
	text-decoration: none;
	font-size:16pt;
	font-family:arial;
	line-height:17px;
	text-align:center;
	background: #F0F0F0;
	font-family: "hn_2";
}

#navbar li a:hover {
	background:#F0F0F0;
	font-size:16pt;
	font-weight:bold;
	border-bottom: 2px solid #EB6C4E;
	font-family: "hn_1";
}

#empty{
	width:1000px;
	height:20px
}

#loginform{
	display: none;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	background-color: white;
	border: solid 1px black;
	position:fixed;
	left: 50%;
	top: 50%;
	background-color: white;
	z-index: 100;

	height: 120px;
	margin-top: -150px;

	width: 200px;
	margin-left: -100px;
}

#Registerform{
	display: none;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	background-color: white;
	border: solid 3px black;
	position:fixed;
	left: 50%;
	top: 50%;
	background-color: white;
	z-index: 100;

	height: 275px;
	margin-top: -200px;

	width: 200px;
	margin-left: -100px;


}

#Fun_Facts h1{
	color: #FFDC00;
	font-family: "hn_1";
	font-size:30px;
	margin-left:27px;
	margin-top:0.5cm;
}

#Fun_Facts h4{
	margin-top:0.00002cm;
	color:#FFDC00;
	font-family: "hn_3";
	font-size:17px;
}

ul.sidenav {
	font-family: "hn_1";
	font-size: 1.2em;
	float: left;
	right:50px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #1C8BFF;
	border-top: 1px solid #1C8BFF;
}

ul.sidenav li{
	display: block;
	color: #FFDC00;
	text-decoration: none;
	width: 250px;
	height: 25px;
	padding: 10px 10px 10px 35px;
	border-top: 1px solid #1C8BFF;
	border-bottom: 1px solid #1C8BFF;
	background-color: #27ADC3;
	overflow: hidden;
	/*Animation*/
	transition: height 2s ease;
}

ul.sidenav li:hover {
	background: #1C8BFF;
	height: 250px;
	overflow: hidden;
	/*Animation*/
	transition: height 2s ease;
}

li#Restrooms{
	height: 350px;
}

div.Restrooms{
	overflow: auto;
	max-height: 240px;
	width: 210px;
}

ul.sidenav span{ 
	display: block;
	font-size: 0.8em;
	padding: 10px 0;
}

#Fun-Facts p{
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#004a80;
}