@font-face {
  	font-family:"hn_1";
  	src: local("hn_1"), url("Font/HelveticaNeueLTStd-Hv.otf" ) format("OpenType"); 
}

/* All */
html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Map */
#map_canvas{
	height: 100%;
	width: 100%;
	overflow: visible;
}

#map_canvas div{
	overflow: visible;
}

/* Info Windows */
.infoBox{
	border-radius: 15px;
	padding: 10px;
	background-color: #27ADC3;
	width: 200px;
	height: 100px;
}

.infoBox h1.restroomName, div.Restrooms h1.restroomName{
	font-family: "hn_1";
	margin: 0;
	font-size: 17px;
}

.infoBox img.star, div.Restrooms img.star{
	height: 15px;
	width: 15px;
}

.infoBox img.icon, div.Restrooms img.icon{
	height: 20px;
	width: 20px;
}