@font-face {
  	font-family:"hn_1";
  	src: local("hn_1"), url("Font/HelveticaNeueLTStd-Hv.otf" ) format("OpenType"); 
}

/* All */
html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Map */
#map_canvas{
	height: 100%;
	width: 100%;
	overflow: visible;
}

#map_canvas div{
	overflow: visible;
}

/* Info Windows */
.infoBox{
	border-radius: 15px;
	padding: 10px;
	background-color: #27ADC3;
	width: 200px;
}

.infoBox h1.restroomName, div.Restrooms h1.restroomName{
	font-family: "hn_1";
	margin: 0;
	font-size: 17px;
}

.infoBox img.star, div.Restrooms img.star{
	height: 15px;
	width: 15px;
}

.infoBox img.icon, div.Restrooms img.icon{
	height: 20px;
	width: 20px;
}

.infoBox img.viewRestroom, div.Restrooms img.viewRestroom{
	height: 20px;
	width: 20px;
}

.infoBox img.viewRestroom:hover, div.Restrooms img.viewRestroom:hover{
	cursor: pointer;
}

.infoBox br:last-child{
	display: none;
}

.button {
	padding: 0px 2px;
	font-family: serif;
	font-size: 1em;
	background-color: #EBE584;
	border: 1px solid #A89917;
	-moz-box-shadow:inset 0px 0px 1px rgba(184,166,43,1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(184,166,43,1);
	box-shadow:inset 0px 0px 1px rgba(184,166,43,1);
	background-image: -o-linear-gradient(90deg , rgb(233,220,126) 0%, rgb(246,241,180) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(233,220,126) 0%, rgb(246,241,180) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(233,220,126) 0%, rgb(246,241,180) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(233,220,126) 0%, rgb(246,241,180) 100%);
	background-image: linear-gradient(90deg , rgb(233,220,126) 0%, rgb(246,241,180) 100%);
	color: #A78E0F;
	text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
}

/*Hover*/
.button:hover {
	cursor: pointer;
	background-color: #F1F09D;
	background-image: -o-linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
	background-image: linear-gradient(90deg , rgb(237,227,150) 0%, rgb(246,242,199) 100%);
}

/*Active*/
.button:active {
	background-color: #D4CC56;
	-moz-box-shadow:inset 0px 0px 5px rgba(184,166,43,1);
	-webkit-box-shadow:inset 0px 0px 5px rgba(184,166,43,1);
	box-shadow:inset 0px 0px 5px rgba(184,166,43,1);
	background-image: -o-linear-gradient(90deg , rgb(246,241,180) 0%, rgb(233,220,126) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(246,241,180) 0%, rgb(233,220,126) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(246,241,180) 0%, rgb(233,220,126) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(246,241,180) 0%, rgb(233,220,126) 100%);
	background-image: linear-gradient(90deg , rgb(246,241,180) 0%, rgb(233,220,126) 100%);
	text-shadow: none;
}